@import url("./nav.css");
@import url("./header_home.css");
@import url("./home.css");
@import url("./card_home.css");
@import url("./login.css");
@import url("./modal.css");
@import url("./questionario.css");
@import url("./info_animais.css");
@import url("./doacao.css");
@import url("./perfil_usuario.css");
@import url("./home_adm.css");
@import url("./tabela.css");
@import url("./sideBar.css");

/* @import url("./acessibilidade.css");
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

.opcao {
  font-size: 15px;
}

button {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 16px;
}

.opcao {
  font-size: 15px;
}

button {
  font-size: 16px;
  /* >>>>>>> ca3908e0b31f1b0217200f0e57af04dfd1e3ee43
 */
}

/* =========================
EFEITO QUANDO CLICA
========================= */

input:focus {
  outline: none;
  border: 2px solid rgb(250, 177, 42);
}

/* CAMPO DE VALIDACAO VERMELHO */
.erro {
  border: 2px solid red !important;
}

.mensagem-erro {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

a {
  text-decoration: none;
  color: black;
}
