@import url("./nav.css");
@import url("./header_home.css");
@import url("./home.css");
@import url("./card_home.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
