@import url("./nav.css");
@import url("./header_home.css");
@import url("./home.css");
@import url("./card_home.css");
@import url("./login.css");
@import url("./modal.css");
@import url("./questionario.css");
@import url("./info_animais.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

body {
  overflow-x: hidden;
}


body{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size:28px;
}

p{
    font-size:16px;
}

.opcao{
    font-size:15px;
}

button{
    font-size:16px;
}

/* =========================
EFEITO QUANDO CLICA
========================= */

input:focus {
  outline: none;
  border: 2px solid rgb(250, 177, 42);
}

