/* =========================
RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


/* =========================
FUNDO DO MODAL
========================= */

.modal-bg {

    background-size: cover;
    padding-top: 80px;


    width: 100%;
    min-height: 100vh;

    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

}


/* =========================
CAIXA DO MODAL
========================= */

.modal-box {
    width: 650px;
    background: #e5e5e5;

    border-radius: 20px;
    padding: 40px;



    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

}



/* =========================
FORMULÁRIO
========================= */

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* =========================
CAMPOS
========================= */

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: 600;
    font-size: 14px;
}

.campo input {
    width: 100%;
    padding: 12px;

    border-radius: 10px;
    border: 2px solid transparent;

    background: #f0c46a;

    margin-top: 5px;

    transition: 0.3s;
}


/* =========================
EFEITO QUANDO CLICA
========================= */

.campo input:focus {
    outline: none;
    border: 2px solid #f4a623;
    background: #ffd88a;
}


/* =========================
SENHAS LADO A LADO
========================= */

.senha-group {
    display: flex;
    gap: 20px;
   
}

.input-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    .input-cadastro{
        background: #f0c46a;
    }
}


/* =========================
UPLOAD FOTO
========================= */

.upload-area {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.upload-foto{
    background-image: url('./../img/icon-foto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 7rem;
    width: 7rem;

    display: block;
    cursor: pointer;
}

.upload-foto input{
    display: none;
}

.upload-icon {
    width: 40px;
    height: 50px;

    border-radius: 50%;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}


/* =========================
BOTÕES
========================= */

.botoes-modal {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}

.btn-concluir {
    flex: 1;

    padding: 12px;

    border-radius: 25px;
    border: none;

    background: #f4a623;

    font-weight: 600;
}

.btn-voltar {
    flex: 1;

    padding: 12px;

    border-radius: 25px;

    border: 1px solid gray;
    background: #f2f2f2;
}


/* =========================
HOVER BOTÕES
========================= */

.btn-voltar:hover {
    background: #e2e2e2;
}

.btn-concluir:hover {
    background: #e5961f;
}



/*  MODAL  INFO- ANIMAIS */
/* card principal */
.animal-card{
    max-width:1100px;
    margin:40px auto;
    background:#f3b21c;
    padding:20px;
    border-radius:8px;
}

/* container branco único */
.animal-container{
    display:flex;
    gap:25px;
    align-items:stretch;
    background:white;
    padding:20px;
    border-radius:8px;
}

/* imagem */
.animal-img img{
    width:420px;
    height:420px;
    object-fit:cover;
    border-radius:10px;
}

/* caixa de texto */
.animal-info{
    padding:10px 5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex:1;
}

/* textos */
.animal-info p{
    line-height:1.6;
    margin-bottom:15px;
    font-size:15px;
}

/* contato */
.contato{
    display:flex;
    gap:60px;
    margin-top:10px;
}

.contato a{
    color:#1a73e8;
    text-decoration:none;
}

.contato a:hover{
    text-decoration:underline;
}

/* botão */
.btn-adotar{
    background:#f3b21c;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
    font-size:16px;
    cursor:pointer;
    align-self:flex-end;
}

.btn-adotar:hover{
    background:#e19f0c;
}