/* =========================
FUNDO DO MODAL
========================= */

.modal-bg {

    background-size: cover;
    padding-top: 80px;


    width: 100%;
    min-height: 100vh;

    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

}


/* =========================
CAIXA DO MODAL
========================= */

.modal-box {
    width: 650px;
    background: #e5e5e5;

    border-radius: 20px;
    padding: 40px;

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}



/* =========================
FORMULÁRIO
========================= */

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}


/* =========================
CAMPOS
========================= */

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: 600;
    font-size: 16px;
}

.campo input {
    width: 100%;
    padding: 12px;

    border-radius: 10px;
    border: 2px solid transparent;

    background: white;

    margin-top: 5px;

    transition: 0.3s;
}





/* =========================
SENHAS LADO A LADO
========================= */

.senha-group {
    display: flex;
    gap: 20px;

}

.input-box {
    flex: 1;
    display: flex;
    flex-direction: column;

    .input-cadastro {
        background: #f0c46a;
    }
}


/* =========================
UPLOAD FOTO
========================= */

.upload-area {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.upload-foto {
    background-image: url('./../img/icon-foto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 7rem;
    width: 7rem;

    display: block;
    cursor: pointer;
}

.upload-foto input {
    display: none;
}

.upload-icon {
    width: 40px;
    height: 50px;

    border-radius: 50%;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}


/* =========================
BOTÕES
========================= */

.botoes-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.btn-concluir {
    padding: 12px 50px;
    border-radius: 25px;
    border: none;
    background: #f4a623;
    font-weight: 600;
    cursor: pointer;
}

.btn-voltar {
    padding: 12px 60px;
    border-radius: 25px;
    border: 1px solid rgb(94, 94, 94);
    background: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
}


/* =========================
HOVER BOTÕES
========================= */

.btn-voltar:hover {
    background: #e2e2e2;
}

.btn-concluir:hover {
    background: #e5961f;
}



/*  MODAL  INFO- ANIMAIS */
/* card principal */
.animal-card {
    max-width: 1100px;
    margin: 80px auto 40px auto;
    /* aumenta espaço acima */
    background: #f3b21c;
    padding: 20px;
    border-radius: 8px;
}

/* container branco único */
.animal-container {
    display: flex;
    gap: 25px;
    align-items: stretch;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* imagem */
.animal-img img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

/* caixa de texto */
.animal-info {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

/* textos */
.animal-info p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 15px;
}

/* contato */
.contato {
    display: flex;
    gap: 60px;
    margin-top: 10px;
}

.contato a {
    color: #1a73e8;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

/* botão */
.btn-adotar {
    background: #f3b21c;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

.btn-adotar:hover {
    background: #e19f0c;
}

/* MODAL APOS APERTRA BOTAO ADOTAR */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    width: 600px;
    background: #f2f2f2;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.modal-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.btn-ir {
    background: #f3b21c;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn-ir:hover {
    background: #e19f0c;
}


/* VERIFICACAO DE CODIGO */


.codigo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.codigo input {
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
    background: rgb(221, 221, 221);
}

/* quando clicar */
input:focus {
    outline: none;
    border: 2px solid rgb(250, 177, 42);
}

.reenvio {
    display: block;
    text-align: center;
    margin-top: 25px;
    /* aumenta o espaço */

}

/* botao  de  voltar para home  */

.bt_home {

    text-align: center;
    margin-top: 25px;
    justify-content: center;
    padding: 12px 50px;
    border-radius: 25px;
    border: none;
    background: #f4a623;
    font-weight: 600;
    cursor: pointer;
}


/* CONTATO */


.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.dropdown {
  position: relative;
  width: 50%;
}

/* caixa principal */
.dropdown-selected {
  background: white;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  text-align: left;
}

/* setinha */
.dropdown-selected::after {
  content: "▾";
  position: absolute;
  right: 15px;
}

/* lista escondida */
.dropdown-options {
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  border: #e19f0c;
  margin-top: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: none;
  overflow: hidden;
  z-index: 10;
}

/* opções */
.option {
  padding: 12px;
  cursor: pointer;
  transition: 0.2s;
}

/* hover bonito */
.option:hover {
  background: #eee;
  border: #e19f0c;
}

/* quando aberto */
.dropdown.active .dropdown-options {
  display: block;
}